name: Trigger auto deployment for blockstilingservice

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/blockstilingservice-AutoDeployTrigger-fe80fb0c-ad04-4b22-8334-616c77ad7e8b.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.BLOCKSTILINGSERVICE_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.BLOCKSTILINGSERVICE_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.BLOCKSTILINGSERVICE_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: ca285afb5d06acr.azurecr.io
          registryUsername: ${{ secrets.BLOCKSTILINGSERVICE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.BLOCKSTILINGSERVICE_REGISTRY_PASSWORD }}
          containerAppName: blockstilingservice
          resourceGroup: KompassExperimental
          imageToBuild: ca285afb5d06acr.azurecr.io/blockstilingservice:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


